.bookHeading {
  text-align: center;
}
.imageDiv {
  text-align: center;
  padding-bottom: 2%;
}

.description {
  text-align: center;
  background-color: rgb(242, 240, 233);
}

.buttonDiv {
  text-align: center;
}
